{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">

{% if data %}
     <h3> Here's data from the Jason File as a table</h3>
    {% else %}
     <h4>Click on show data button to view data from the Jason File as a table</h4>

{% endif %}

{% if not data %}
  <form class="form-horizontal" method="POST" action="">
     {% csrf_token %}
<fieldset>

<!-- Form Name -->


<!-- Button -->

<div class="form-group">
  <label class="col-md-4 control-label" for="populate"></label>
  <div class="col-md-4">
    <button id="populate" name="populate" class="btn btn-success"><span class="glyphicon glyphicon-download"></span> Populate</button>
  </div>
</div>

</fieldset>
</form>
      {% endif %}
      <hr>
      {% if data %}

<table class="table table-bordered">
    <thead>

      <tr>
        <th>Driver Name</th>
        <th>Insurance</th>
        <th>Tax</th>
        <th>MOT</th>
        <th>Phone No.</th>
        <th>lastMotDate</th>
        <th>Model Name</th>
      </tr>

    </thead>
    <tbody>
    {% for row in data %}
      <tr>
        <td>{{row.0}}</td>
        <td>{{row.1}}</td>
        <td>{{row.2}}</td>
        <td>{{row.3}}</td>
        <td>{{row.4}}</td>
        <td>{{row.5}}</td>
        <td>{{row.6}}</td>


      </tr>
    {% endfor %}

    </tbody>
  </table>
      {% endif %}
  </div>
</div>

{% endblock %}
